@import "./../variables.scss";
.action-bar-box {
    display: flex;
    justify-content: space-evenly;
    flex-flow: column nowrap;
    width: 100%;
    min-height: 3.25rem;
    height: auto;
    padding: 0.8rem 0.3rem;
    background-color: $strong-color;
}
.action-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}
.action-bar__search {
    display: flex;
    align-items: center;
    min-width: 10rem;
    width: 25%;
    height: 1.75rem;
    margin-left: 1rem;
    border:  1px solid $soft-color;

}
.action-bar__search--icon {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;
}
.action-bar__search--input {
    width: 85%;
    padding: 0.1rem 0.5rem;
    background-color: transparent;
    border: 0;
    color: $soft-color;
    font-family: $secund-font;
    &:focus {
        border: 0;
        outline: none;
    }
}
.action-bar__add, .add__category, .add__product {
    height: 1.75rem;
    padding: 0.1rem 0.5rem;
    background-color: transparent;
    width: auto;
    border: 0;
    color: $soft-color;
    font-family: $main-font;
    border:  1px solid $soft-color;
    margin-left: 0.8rem;
}
.add {
    display: flex;
    justify-content: center;
    align-items: center;
}