@import "./../variables.scss";

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 4.625rem;

    font-family: $secund-font;
    font-size: 1.125rem;
    line-height: 1.375rem;
    font-style: normal;
    font-weight: normal;
    color: $soft-color;
    text-decoration: underline;

    background-color: $strong-color;
    cursor: pointer;
}