/* 
    General Styles
*/
@import 'variables.scss';
@import './components/Home';
@import './components/NavBar';
@import './components/Category';
@import './components/Product';
@import './components/Tabs';
@import './components/Banner';
@import './components/Footer';
@import './components/ActionBar';


*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}