/*Fonts variables: open sans and cormorant*/
//Cormorant
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
//Open Sans
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

$main-font: 'Cormorant', serif;
$secund-font: 'Open Sans', sans-serif;

$strong-color: #242424;
$med-color: #333333;
$soft-color: #FFFFFF;
